@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
body {
    width: 100%;
    text-align: center;
}
html {
    font-family: 'Montserrat' sans-serif;
}
h1 {
    font-size:40px;
}
small {
    font-size: 20px;
    font-style: italic;
    color: #0069b3;
}
body {
    display: grid;
}
.container {
    display:flex;
    text-align: center;
    grid-template-columns: 2fr 4fr 2fr;
}
nav {
    display: grid;
    font-size: small;
    font-weight: bolder;
    /** study on the grid and flex later */
    color: #0069b3;
    /* width:100%; */

}
nav, ul.right {
    display: grid;
    grid-template-columns: 35% 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "menu1 menu2 menu3";
    list-style-type: none;
    /* width:90%; */
}
ul.left {
    font-family: 'Roboto' , sans-serif;
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "about store";
    list-style-type: none;
    /* width: 90%; */
}
.nav-item {
    padding: 0 10px 10px 0;
    text-decoration: none;
    width:90px;
}
.nav-link {
    text-decoration: none;
}
.menu1 {
    grid-area: menu1;
}
.menu2 {
    grid-area: menu2;
}
.menu2 {
    grid-area: menu3;
}
.about {
    grid-area: about;
}
.store {
    grid-area: store;
}
h1 > img {
    width: 175px;
}
/** end menu styles start body */
.g-logo {
    margin-top: 25%;
}
div.form {
    width: 100%;
    text-align: center;
}
.search-bar {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "bar f-ticon button";
    text-align: center;
}
.search {
    text-align: center;
}
.bar {
    grid-area: bar;
}
.f-ticon {
    grid-area: f-ticon;
}
.button {
    grid-area: button;
}