@import url("reset.css");
html {
    font-size: 16px;
}
h1 {
    font-size:40px;
}
small {
    font-size: 20px;
    font-style: italic;
    color: #0069b3;
}
body {
    display: grid;
}
nav {
    display: grid;
    font-size: small;
    font-weight: bolder;
    /** study on the grid and flex later */
    color: #0069b3;

}
nav, ul {
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "open menu1 menu2 menu3";
    list-style-type: none;
}
.nav-item {
    padding: 0 10px 10px 0;
    text-decoration: none;
    width:90px;
}
.open {
    grid-area: open;
    width: auto;
}
.menu1 {
    grid-area: menu1;
}
.menu2 {
    grid-area: menu2;
}
.menu2 {
    grid-area: menu3;
}
h1 > img {
    width: 175px;
}
.container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}
.row {
   grid-template-columns: ;
}